.git
.gitignore

node_modules
dist
dist-ssr

backend/.env
backend/.venv
backend/.pytest_cache
backend/.ruff_cache
backend/**/__pycache__/
backend/*.db
backend/*.db-*

data
*.log

.DS_Store
.idea
.vscode
