.contentBox {
    height: 100%;

    .yaoBox {
        .headerBox {
            padding: 0 5rem;
            display: block;
            padding-top: 2rem;
        }

        .btnBox {
            margin-top: 2rem;
            text-align: center;
        }

    }

    .guaBox {
        padding: 2rem 5rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        .questionBox {
            width: 100%;
            margin-bottom: 3rem;

            .ant-divider {
                margin: 0 0 1rem;
            }
        }

        .inputBox {
            width: 100%;

            .ant-input-number {
                width: 100%;
            }
        }
    }

    .explainBox {
        padding: 0 3rem;
        overflow: auto;
        height: 100%;

        li {
            list-style: square;
        }

        .sessionMeta {
            margin-bottom: 1rem;
        }

        .resultActions,
        .historyActions {
            margin-top: 1rem;
        }
    }
}
